[submodule "apps/t3code"]
	path = apps/t3code
	url = https://github.com/pingdotgg/t3code.git
	branch = main
[submodule "apps/AnswerOverflow"]
	path = apps/AnswerOverflow
	url = https://github.com/AnswerOverflow/AnswerOverflow.git
	branch = main
[submodule "apps/course-video-manager"]
	path = apps/course-video-manager
	url = https://github.com/mattpocock/course-video-manager.git
	branch = main
[submodule "apps/r8y"]
	path = apps/r8y
	url = https://github.com/davis7dotsh/r8y.git
	branch = main
[submodule "apps/better-context"]
	path = apps/better-context
	url = https://github.com/davis7dotsh/better-context.git
	branch = main
